#index-wrap
  background: linear-gradient(lighten(color-home, 10%), darken(color-home, 7%))
  padding: 40px 50px
  position: relative

#canvas
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%