#footer
  clearfix()
  position: absolute
  bottom: 0
  left: 0
  padding: 40px 50px
  color: color-blue
  width: 100%

#copyright
  float: left
  padding-right: 15px

.footer-link
  display: block
  color: color-blue
  text-decoration: none
  float: left
  margin-left: 25px
  &:hover
    text-decoration: underline