#header
  clearfix()
  position: relative
  z-index: 1

#logo
  font-family: font-title
  font-weight: 600
  font-size: 40px
  line-height: 1
  text-decoration: none
  color: color-blue
  float: left

#login-btn
  float: right