.inner
  width: app-page-width
  margin: 0 auto

#app-inner
  padding-bottom: 120px

.section-header
  clearfix()
  padding: 40px 0

.section-title
  font-family: font-title
  font-weight: 600
  font-size: 1.8em
  line-height: 30px
  float: left

.section-back-btn
  float: left
  color: color-border
  text-decoration: none
  padding-right: 15px
  cursor: pointer
  &:before
    content: "\f053"
    font-family: font-icon
    font-size: 20px
    line-height: 30px
  &:hover
    color: color-blue