<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>maji.moe</title>
    <%= css('base') %>
    <%= css('app') %>
    <%= css('login') %>
    <%= css('error') %>
    <link href="//fonts.googleapis.com/css?family=Raleway:300,600" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container"></div>
    <noscript id="error-wrap">
      <div id="error">
        <strong id="error-title">Please Enable JavaScript</strong>
        <p id="error-desc">Please enable JavaScript for better experience.</p>
      </div>
      <footer id="login-footer">
        <a href="/" id="login-footer-home">maji.moe</a>
      </footer>
    </noscript>
    <%= js('app') %>
  </body>
</html>