<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>maji.moe - The moest domain for you</title>
    <%= css('base') %>
    <%= css('home') %>
    <link href="//fonts.googleapis.com/css?family=Raleway:300,600" rel="stylesheet" type="text/css">
  </head>
  <body id="index-wrap">
    <header id="header">
      <h1>
        <a href="/" id="logo">maji.moe</a>
      </h1>
      <a href="/login" id="login-btn" class="btn transcluent">Log in</a>
    </header>
    <div id="index-body-wrap">
      <div id="index-body">
        <h2 id="tagline">The <strong>moest</strong> domain for you.</h2>
        <a href="/signup" id="signup-btn" class="btn transcluent large">Sign up now!</a>
      </div>
    </div>
    <footer id="footer">
      <div id="copyright">&copy; 2014 maji.moe</div>
      <a href="/about" class="footer-link">About</a>
      <a href="/api" class="footer-link">API</a>
      <a href="/contact" class="footer-link">Contact</a>
    </footer>
  </body>
</html>