<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reset password - maji.moe</title>
    <%= css('base') %>
    <%= css('login') %>
    <link href="//fonts.googleapis.com/css?family=Raleway:300,600" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container">
      <div id="login-wrap">
        <div id="login-body">
          <form id="login-form" method="post" action="/users/{{.user.Id}}/passwords/reset/{{.user.PasswordResetToken}}">
            <div class="input-group">
              <input
                type="password"
                name="password"
                class="input login-input"
                placeholder="New password"
                required
                pattern=".{6,50}">
              {{with .error}}
                {{if eq .Field "password"}}
                  <div class="input-error">{{.Message}}</div>
                {{end}}
              {{end}}
            </div>
            <div class="input-group">
              <input
                type="password"
                name="confirm"
                class="input login-input"
                placeholder="Confirm password"
                required>
              {{with .error}}
                {{if eq .Field "confirm"}}
                  <div class="input-error">{{.Message}}</div>
                {{end}}
              {{end}}
            </div>
            <button id="login-btn" class="btn primary">Reset password</button>
            <input type="hidden" name="_csrf" value="{{.csrf}}">
          </form>
        </div>
        <footer id="footer-logo-wrap">
          <a href="/" id="footer-logo">maji.moe</a>
        </footer>
      </div>
    </div>
  </body>
</html>