@font-face
  font-family: font-icon
  font-weight: normal
  font-style: normal
  src: url(font-icon-path + ".eot?v=" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg?v=" + font-icon-version + "#fontawesomeregular") format("svg")

html, body
  height: 100%

body
  font-smoothing()
  font: font-size font-default
  background: color-background
  color: color-text

#container
  min-height: 100%
  position: relative