.btn
  cursor: pointer
  display: inline-block
  white-space: nowrap
  line-height: 1
  padding: 8px 16px
  text-decoration: none
  border-radius: 3px
  font-weight: bold
  border: none
  font-size: font-size
  outline: none
  user-select: none
  transition: 0.2s
  &:disabled
    opacity: 0.6
    pointer-events: none
  &.primary
    background: color-blue
    color: #fff
    &:hover
      background: lighten(color-blue, 20%)
  &.danger
    background: #fff
    color: color-pink
    &:hover
      background: color-pink
      color: #fff
  &.success
    background: color-green
    color: #fff
    &:hover
      background: darken(color-green, 20%)
  &.large
    font-size: 1.5em
    padding: 12px 24px