.btn
  cursor: pointer
  display: inline-block
  white-space: nowrap
  line-height: 1
  padding: 8px 16px
  text-decoration: none
  border-radius: 3px
  font-weight: bold
  border: none
  font-size: font-size
  outline: none
  user-select: none
  transition: 0.2s
  &.transcluent
    border: 2px solid color-blue
    font-family: font-title
    font-weight: 600
    color: color-blue
    &:hover
      color: #fff
      background: color-blue
    &.large
      border-width: 3px
  &.primary
    background: color-blue
    color: #fff
    &:hover
      background: lighten(color-blue, 20%)
  &.large
    font-size: 1.5em
    padding: 12px 24px