<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Not Found - maji.moe</title>
    <%= css('base') %>
    <%= css('error') %>
    <link href="//fonts.googleapis.com/css?family=Raleway:300,600" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="error-wrap">
      <div id="error">
        <strong id="error-title">Not found</strong>
        <p id="error-desc">The page you are looking for no longer exists.</p>
      </div>
      <footer id="footer-logo-wrap">
        <a href="/" id="footer-logo">maji.moe</a>
      </footer>
    </div>
  </body>
</html>