#login-body
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 350px

.login-input
  border-bottom: none
  padding: 15px 20px

#login-btn
  width: 100%
  border-radius: 0
  padding: 12px 20px
  font-family: font-title
  font-weight: 600
  font-size: 1.25em

#login-links
  clearfix()
  padding-top: 15px
  text-align: center
  color: color-minor
  font-size: 0.9em
  text-shadow: 0 1px #fff
  line-height: 1
  strong
    font-weight: bold

.login-link
  color: color-minor
  text-decoration: none
  border-left: 1px solid color-border
  padding-left: 10px
  margin-left: 10px
  &:hover
    color: color-blue
  &:last-of-type
    border-left: none
    padding-left: 0
    margin-left: 0
  &.right
    float: right