placeholder()
  &::-webkit-input-placeholder
  &::-moz-placeholder
  &:-moz-placeholder
  &:-ms-input-placeholder
    {block}

font-smoothing()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

filter(val)
  -webkit-filter: val
  filter: val