// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-background = #f3f3f3
color-text = #555
color-minor = #999
color-border = #ddd

color-home = lighten(#a7dbd8, 60%)
color-blue = darken(#69d2e7, 25%)
color-pink = #fe4365
color-green = #65d97d

record-a = #FF7100
record-cname = #1142AA
record-mx = #0ACF00
record-txt = #4E10AE
record-spf = #64A8D1
record-aaaa = #FFBB00
record-ns = #F10026
record-loc = #758a99

// Typography
font-default = "Helvetica Neue", Helvetica, Arial, sans-serif
font-size = 14px
font-title = Raleway, font-default

font-icon = FontAwesome
font-icon-path = "/fonts/fontawesome-webfont"
font-icon-version = "4.2.0"

// Layout
app-page-width = 1000px
app-header-height = 30px
app-footer-height = 20px