// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-background = #f3f3f3
color-text = #555
color-minor = #999
color-border = #ddd

color-home = lighten(#a7dbd8, 60%)
color-blue = darken(#69d2e7, 25%)
color-pink = #fe4365

// Typography
font-default = "Helvetica Neue", Helvetica, Arial, sans-serif
font-size = 14px
font-title = Raleway, font-default

font-icon = FontAwesome
font-icon-path = "/fonts/fontawesome-webfont"
font-icon-version = "4.2.0"